@page
@model IndexModel
@{
    ViewData["Title"] = "Renz Paolo";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .github {
            font-size: 3rem;
            color: white;
        }

        .linkedin {
            font-size: 3rem;
            color: white;
        }

        @@media only screen and (max-width: 830px) {

            innerdiv2 {
                flex-direction: column;
            }

            .innerdiv2 {
                flex-direction: column;
            }

            description-me{
                margin-top: 30px;
                text-align: center;
                flex-grow: 1;
            }
            image-me {
                max-width:100%;
                width:100%;
            }
        }
    </style>
    <script src="https://kit.fontawesome.com/411daec566.js" crossorigin="anonymous"></script>
</head>

<div style="display: flex;align-content: center;justify-content: center;">

    @*Inner Container*@
    <div style="        flex: 8;
        background-color: #262626;
        border-radius: 25px;" 
         class="p-5">

        <div class="innerdiv2" style="display:flex;">



            <div class="description-me" style="text-align:center; width:50%; display: flex; justify-content: center; align-content: center;flex-direction:column ">
                <div class="container" style="">

                    <h1 style="font-weight:bold"><a href="">Hi! I'm Renz Paolo</a></h1>
                    <h3>
                        I'm an Information Technology major with an interest in mobile development.
                    </h3>

                    <div style="margin-top:20px">
                        <a class="github" href="https://github.com/Hawk-Ice" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-github "></i>
                        </a>

                        <a class="linkedin" href="https://linkedin.com/in/renzlontac" target="_blank" rel="noopener noreferrer">
                            <i class="fa-brands fa-linkedin "></i>
                        </a>
                    </div>
                   

                </div>
            </div>
            <img class="image-me" src="~/renzpaolo-hd2.png" style="max-width:50%;min-height:50%" />
            

        </div>
        

    </div>
 </div>
